@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:wght@200;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.navbar {
    /* background-color: brown; */
    width: 100%;
    position: fixed;
    z-index: 999;
    font-family: 'Ubuntu', 'Lato', 'Montserrat';
    padding: 30px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson
;
}

.navbar .logo a {
    color: rgb(247, 243, 238);
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson
;
}

.navbar.sticky .logo a span {
    color: antiquewhite;
    transition: all 0.3s ease;
}

.navbar .menu li a {
    color: antiquewhite;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson
;
}

.navbar.sticky .menu li a:hover {
    color: antiquewhite;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.menu-btn {
    color: antiquewhite;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    width: 42px;
    height: 45px;
    background: crimson;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    bottom: 30px;
    pointer-events: auto;
}
.home {
    display: flex;
    /* background: url("img3.jpg") no-repeat center; */
    background-color: black;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', 'Lato', 'Montserrat';
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 28px;
}

.home .home-content .text-2 {
    font-size: 76px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 42px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson
;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson
;
    color: antiquewhite;
    font-size: 22px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson
    ;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson
    ;
    background: none;
    border: 2px solid white;
}

/* All similar content styling */
section {
    padding: 100px 0;
}

.about,
.services,
.skills,
.contact, 
footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .services-content, .skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 170px;
    height: 3px;
    background-color: black;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: crimson
;
    padding: 5px;
    background-color: white;
    transform: translateX(-50%);
}

/* about section styling */



.about .title::after {
    content: "who i am";
}


.about .about-content .left {
    width: 45%;
    /* text-align: center */
}

.about .about-content .right p {
    font-family: sans-serif;
    color: #222;
    font-size: 18px;
    font-weight: 100;
}

.about .about-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson
;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: antiquewhite;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 26px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson
;
    background: none;
    border: 2px solid crimson
;
}


/* services section styling */
.services{
    color: antiquewhite;
    background-color: #111;
}
.services .title::before{
    background: antiquewhite;
}
.services .title::after {
    content: "i provide";
    background: #111;
}

.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    background: crimson;
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);

}
.services .services-content .card i{
    font-size: 40px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .services-content .card:hover i{
    color: antiquewhite;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .services-content .card p{
    color: grey;
}






/* skills section styling */
.skills .title::after{
    content: "what i know";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: antiquewhite;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 14px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right .span{
    font-weight: 400;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}

.skills-content .right .c::before{
    width: 60%;
    background-color: crimson;
}
.skills-content .right .html::before{
    width: 60%;
    background-color: blue;
}
.skills-content .right .dsa::before{
    width: 50%;
    background-color: orange;
}
.skills-content .right .java::before{
    width: 20%;
    background-color: green;
}
.skills-content .right .sql::before{
    width: 65%;
    background-color: purple;
}



/* contact section styling */
.contact{
    color: antiquewhite;
    background-color: #111;
}
.contact .title::before{
    background: antiquewhite;
}
.contact .title::after{
    content: "get in touch";
    background-color: #111;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
    color: rgb(196, 191, 191);
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: rgb(133, 132, 132);
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 40px;
    width: 150px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: antiquewhite;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

/* footer section */
footer{
    background-color: rgb(250, 246, 246);
    padding: 20px 23px;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}




@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

}

@media (max-width: 947px) {
    .menu-btn {
        z-index: 999;
        display: block;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;

    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
        /* padding: 9px 23px; */
    }
    .services .services-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    /* .max-width {
      padding: 0 23px;
    } */

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}